body
{
    margin: 0px;
    background-color: rgb(16, 138, 132);
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    margin: 10px;
}

.title, .calculate, .result
{
    background-color: white;
    width: 25%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.result
{
    font-weight: bold;
}

.calculate input
{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}